.alert_success {
  font-size: 1rem;
  text-align: center;
  color: green;
  background-color: rgb(165, 212, 165);
  padding: 0.3rem;
  margin-bottom: 1rem;
}

.alert_danger {
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: rgb(192, 120, 120);
  padding: 0.3rem;
  margin-bottom: 1rem;
}
